 # download Lemontree.Automation on a runner and setup the license
name: setup-LemonTree.Automation Sample Workflow
on:
    push:
     
jobs:
    setup-LemonTree: 
      defaults:
        run:
          shell: pwsh
      runs-on: [windows-latest] 
      timeout-minutes: 15
      steps:  
        - uses: actions/checkout@v4
          with:
            lfs: true
            fetch-depth: 0

        - name: GetLTA
          uses: LieberLieber/setup-LemonTree.Automation@v6
          id: GetLTA
          with:
           License: ${{secrets.LTALICENSE}} 
           #ExeLocation &"${{steps.GetLTA.outputs.LemonTreeAutomationExecutable}}"

        # first simple use of LemonTree.Automation
        - name: ConsistencyCheck
          run: |
            &"${{steps.GetLTA.outputs.LemonTreeAutomationExecutable}}" ConsistencyCheck --Model "model.qeax"